<%@company = @firm%>
<%= render :partial => "share/deco_filter_firm" %>
<div>
	<%= @firm.detail %>
<%= render :partial => "share/deco_filter_seo" %>
<div class="side">
<%= render :partial => "share/deco_filter_seo_left" %>
</div>
</div>