<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />
    <META HTTP-EQUIV="Expires" CONTENT="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>万和燃气具_和家网</title>
    <meta name="keywords" content="万和燃气具" />
    <meta name="description" CONTENT="介绍万和燃气具品牌相关新闻资讯，提供万和燃气具产品报价、万和燃气具新品推荐、万和燃气具产品评测，以及万和燃气具相关维护保养知识。" />
    <link href="http://www.51hejia.com/css/ranqj/ranqj0326.css" rel="stylesheet" type="text/css" />
    <SCRIPT src="http://js.51hejia.com/js/cha.js" type="text/javascript"></SCRIPT>
    <script language="javascript" type="text/javascript" src="http://www.51hejia.com/js/stats.js"></script>
    <link href="http://js.51hejia.com/css/header914.css" rel="stylesheet" type="text/css" />
    <script src="http://www.51hejia.com/js/AC_RunActiveContent.js" type="text/javascript"></script>
  </head>
  <body>
  <%= render_shared_header %>
    <script language="javascript">
      changecolor();
    </script>
    <div class="main">
      <div class="banner"><div id="heade2">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="960" height="85">
    <param name="movie" value="http://www.51hejia.com/ad/wh.swf" />
    <param name="quality" value="high" />
    <embed src="http://www.51hejia.com/ad/wh.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="162"></embed>
  </object>
</div>
      </div>
      <div class="topnav">
        <b>[燃气具品牌]</b>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.chinavanward.com/" target="_blank" title="万和">万和</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://p.51hejia.com/brands/391" target="_blank" title="方太">方太</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://p.51hejia.com/brands/255" target="_blank" title="华帝">华帝</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://p.51hejia.com/search?query=%E4%B8%87%E5%AE%B6%E4%B9%90&search_type=1" target="_blank" title="万家乐">万家乐</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://shuaikang.51hejia.com/" target="_blank" title="帅康">帅康</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://p.51hejia.com/brands/156" target="_blank" title="海尔">海尔</a>&nbsp;&nbsp;|</div>
      <div class="topleft">
        <div class="focusl">
          <div class="focuspic">
            <script type="text/javascript">
              var pic_width=284; //图片宽度
              var pic_height=240; //图片高度
              var button_pos=4; //按扭位置 1左 2右 3上 4下
              var stop_time=3000; //图片停留时间(1000为1秒钟)
              var show_text=0; //是否显示文字标签 1显示 0不显示
              var txtcolor="000000"; //文字色
              var bgcolor="DDDDDD"; //背景色
              var imag=new Array();
              var link=new Array();
              var text=new Array();
<% results = parse_xml("http://api.51hejia.com/rest/build/xml/77.xml", ["title", "url", "image-url"], 3) %>
<% 0.upto(2) do |i| %>
    imag[<%= i+1 %>] = "<%= results[i]["image-url"] %>";
    link[<%= i+1 %>] = "<%= results[i]["url"] %>";
    text[<%= i+1 %>] = "<%= results[i]["title"] %>";
<% end %>

  //可编辑内容结束
  var swf_height=show_text==1?pic_height+20:pic_height;
  var pics="", links="", texts="";
  for(var i=1; i<imag.length; i++){
    pics=pics+("|"+imag[i]);
    links=links+("|"+link[i]);
    texts=texts+("|"+text[i]);
  }
  pics=pics.substring(1);
  links=links.substring(1);
  texts=texts.substring(1);
  document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabversion=6,0,0,0" width="'+ pic_width +'" height="'+ swf_height +'">');
  document.write('<param name="movie" value="http://www.51hejia.com/images/jiadian/focus.swf">');
  document.write('<param name="quality" value="high"><param name="wmode" value="opaque">');
  document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'">');
  document.write('<embed src="http://www.51hejia.com/images/jiadian/focus.swf" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'" quality="high" width="'+ pic_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
  document.write('</object>');
            </script>
          </div>
          <div class="lfocusbox">
            <h3 class="h31">消费者咨询</h3>
            <div class="wysy">
              <ul>
                <% for result in parse_xml("http://api.51hejia.com/rest/build/xml/78.xml", ["title", "url"], 12) %>
                  <li>· <a href="<%= result["url"] %>" target="_blank" title="<%= result["title"] %>"><%= result["title"].chars[0, 20] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="focusr">
          <div class="focustitle">
            <h3>热点关注</h3>
            <ul>
              <li><a href="http://www.51hejia.com/articleList/t-41382.jhtml" target="_blank">更多热点</a></li>
            </ul>
          </div>
          <div class="focusnews">
            <h4><a href="<%= get_url(@hot_articles[0].ID, @hot_articles[0].FIRSTCATEGORY, @hot_articles[0].CREATETIME) %>" title="<%= @hot_articles[0].TITLE %>" target="_blank"><%= @hot_articles[0].TITLE.chars[0, 20] %></a></h4>
            <ul class="fline">
              <% if !@hot_articles[8].nil? %>
                <% 1.upto(8) do |i| %>
                  <li>·<a href="<%= get_url(@hot_articles[i].ID, @hot_articles[i].FIRSTCATEGORY, @hot_articles[i].CREATETIME) %>" title="<%= @hot_articles[i].TITLE %>" target="_blank"><%= @hot_articles[i].TITLE.chars[0, 23] %></a></li>
                <% end %>
              <% end %>
            </ul>
            <h4>
              <% if !@hot_articles[9].nil? %>
                <a href="<%= get_url(@hot_articles[9].ID, @hot_articles[9].FIRSTCATEGORY, @hot_articles[9].CREATETIME) %>" title="<%= @hot_articles[9].TITLE %>" target="_blank"><%= @hot_articles[9].TITLE.chars[0, 20] %></a>
              <% end %>
            </h4>
            <ul class="fline">
              <% if !@hot_articles[13].nil? %>
                <% 10.upto(13) do |i| %>
                  <li>·<a href="<%= get_url(@hot_articles[i].ID, @hot_articles[i].FIRSTCATEGORY, @hot_articles[i].CREATETIME) %>" title="<%= @hot_articles[i].TITLE %>" target="_blank"><%= @hot_articles[i].TITLE.chars[0, 23] %></a></li>
                <% end %>
              <% end %>
            </ul>
            <ul>
              <% if !@hot_articles[17].nil? %>
                <% 14.upto(17) do |i| %>
                  <li>·<a href="<%= get_url(@hot_articles[i].ID, @hot_articles[i].FIRSTCATEGORY, @hot_articles[i].CREATETIME) %>" title="<%= @hot_articles[i].TITLE %>" target="_blank"><%= @hot_articles[i].TITLE.chars[0, 23] %></a></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="banner1" style="margin-bottom:10px;"><!--/* OpenX Javascript标签 v2.6.0 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://a.51hejia.com/www/delivery/ajs.php':'http://a.51hejia.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=303");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://a.51hejia.com/www/delivery/ck.php?n=a1458aae&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://a.51hejia.com/www/delivery/avw.php?zoneid=303&amp;n=a1458aae' border='0' alt='' /></a></noscript>
        </div>
        <div class="videos" style=" border:1px solid #CCCCCC;">
          <script type="text/javascript">
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','307','height','209','src','http://www.51hejia.com/images/ranqj/video','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','http://www.51hejia.com/images/ranqj/video' ); //end AC code
          </script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="307" height="209">
              <param name="movie" value="http://www.51hejia.com/images/ranqj/video.swf" />
              <param name="quality" value="high" />
              <embed src="http://www.51hejia.com/images/ranqj/video.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="307" height="209"></embed>
            </object>
        </noscript></div>
        <div class="rfocusbox02">
          <div style="float:left; font-size:14px; text-indent:1em; height:25px; line-height:25px;"><strong>燃气具产品资讯</strong></div>
          <div style="float:right; margin-right:5px; height:25px; line-height:25px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank">更多>></a></div>
          <div class="zixun">
            <ul>
              <% for r in @product_news %>
                <li>·&nbsp;<a href="<%= get_url(r.ID, r.FIRSTCATEGORY, r.CREATETIME) %>" title="<%= r.TITLE %>" target="_blank"><%= r.TITLE.chars[0, 23] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="topright">
        <div class="rfocusbox">
          <h3 class="h33">燃气报价·轻松找低价<span><a href="#" target="_blank"></a></span></h3>
          <div class="dijia">
            <h4>任何建材家居产品，免费为您提供最低折扣</h4>
            <form name="pricingbox" id="form1" method="post" target="_blank" action="http://p.51hejia.com/pricings/create" onsubmit="return pricingbox_check();">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><span>*</span>&nbsp;产品名称：</td>
                  <td><input name="pricing[name]" type="text" class="txt" id="pricing_name" value="请填写产品名称" onclick="if( this.value == '请填写产品名称' ) { this.value = '' }" /></td>
                  <td rowspan="4"><input type="submit" name="Submit" value="获取最低报价" class="bt" /></td>
                </tr>
                <tr>
                  <td><span>*</span>&nbsp;品牌：</td>
                  <td><input name="pricing[brand]" type="text" class="txt" id="pricing_hopeaddress" value="请填写品牌" onclick="if( this.value == '请填写品牌' ) { this.value = '' }" /></td>
                </tr>
                <tr>
                  <td><span>*</span>&nbsp;型号：</td>
                  <td><input name="pricing[xinghao]" type="text" class="txt" id="pricing_username" value="请填写型号" onclick="if( this.value == '请填写型号' ) { this.value = '' }" /></td>
                </tr>
                <tr>
                  <td><span>*</span>&nbsp;数量：</td>
                  <td><input name="pricing[num]" type="text" class="txt" id="pricing_phone" value="请填写数量" onclick="if( this.value == '请填写数量' ) { this.value = '' }" /></td>
                </tr>
              </table>
            </form>

          </div>
        </div>
        <div class="ad1">
          <!--/* OpenX Javascript标签 v2.6.0 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://a.51hejia.com/www/delivery/ajs.php':'http://a.51hejia.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=302");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://a.51hejia.com/www/delivery/ck.php?n=ad254010&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://a.51hejia.com/www/delivery/avw.php?zoneid=302&amp;n=ad254010' border='0' alt='' /></a></noscript>
        </div>
        <div class="rfocusbox jianju01">
          <h3 class="h35">精彩专题</h3>
          <div class="zhuanti">
            <% for result in parse_xml("http://api.51hejia.com/rest/build/xml/88.xml", ["title", "url", "image-url", "description"], 2) %>
              <a href="<%= result["url"] %>" target="_blank"><img src="<%= result["image-url"] %>" alt="<%= result["title"] %>" border="0" /></a>
              <h4><a href="<%= result["url"] %>" title="<%= result["title"] %>" target="_blank"><%= result["title"] %></a></h4>
              <p><%= result["description"] %>……[<a href="<%= result["url"] %>" target="_blank">详细</a>]</p>
            <% end %>
          </div>
        </div>
        <div class="rfocusbox jianju02">
          <h3 class="h36">互动活动专区</h3>
          <div class="wysy2">
            <ul>
              <% for result in parse_xml("http://api.51hejia.com/rest/build/xml/80.xml", ["title", "url"], 6) %>
                <li>·&nbsp;<a href="<%= result["url"] %>" title="<%= result["title"] %>" target="_blank"><%=result["title"].chars[0, 21] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="rfocusbox01 nom">
          <div style="float:left; font-size:14px; text-indent:1em; height:25px; line-height:25px;"><strong>维护保养小常识</strong></div>
          <div style="float:right; margin-right:5px; height:25px; line-height:25px;"><a href="http://www.51hejia.com/articleList/t-41384.jhtml" target="_blank">更多>></a></div>
          <div class="cshi">
            <ul>
              <% for r in @tending %>
                <li>·&nbsp;<a href="<%= get_url(r.ID, r.FIRSTCATEGORY, r.CREATETIME) %>" title="<%= r.TITLE %>" target="_blank"><%=r.TITLE.chars[0, 23] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="main">
      <div class="mainbox">
        <div class="maintt">
          <h3 style="color:#000000;">产品绿色通道</h3>
          <div class="list"></div>
          <div class="more"></div>
        </div>
        <ul style="text-align:center;">
          <% for result in parse_xml("http://api.51hejia.com/rest/build/xml/81.xml", ["title", "url", "image-url", "description"], 6) %>
            <li><div class="tongd">
                <div class="cp01"><a href="<%= result["url"] %>" target="_blank"><img src="<%= result["image-url"] %>" /></a></div>
                <div class="cp02">
                <h4><a href="<%= result["url"] %>" title="<%= result["title"] %>" target="_blank"><%= result["title"].chars[0, 13] %></a></h4>    <p><%= result["description"].chars[0, 100] %>...<span><a href="<%= result["url"] %>" target="_blank">详细>></a></span></p></div>
                <div style="clear:both;"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="banner">
      <!--/* OpenX Javascript标签 v2.6.0 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://a.51hejia.com/www/delivery/ajs.php':'http://a.51hejia.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=301");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://a.51hejia.com/www/delivery/ck.php?n=a9152f58&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://a.51hejia.com/www/delivery/avw.php?zoneid=301&amp;n=a9152f58' border='0' alt='' /></a></noscript>
    </div>
    <div class="mainc">
      <div class="mainc_l"><img src="http://www.51hejia.com/images/ranqj/ad2.jpg" /></div>

      <div class="rfocusbox03 nom">
        <h3>编辑推荐<span><a href="http://www.51hejia.com/articleList/t-41386.jhtml" target="_blank">更多>></a></span></h3>
        <div class="bjtj" style="margin-top:3px;">
          <ul>
            <% for r in @editor_recommend %>
              <li>·&nbsp;<a href="<%= get_url(r.ID, r.FIRSTCATEGORY, r.CREATETIME) %>" title="<%= r.TITLE %>" target="_blank"><%= r.TITLE.chars[0, 23] %></a></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="rfocusbox03 nom" style="margin-right:10px;">
        <h3>产品评测应用<span><a href="http://www.51hejia.com/articleList/t-41385.jhtml" target="_blank">更多>></a></span></h3>
        <div class="bjtj" style="margin-top:3px;">
          <ul>
            <% for r in @product_test %>
              <li><a href="<%= get_url(r.ID, r.FIRSTCATEGORY, r.CREATETIME) %>" title="<%= r.TITLE %>" target="_blank">[评测] <%= r.TITLE.chars[0, 23] %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="main" style="margin-top:10px;">
      <div class="mainbox">
        <div class="maintt">
          <h3 style="color:#000000;">最新燃气具产品推荐</h3>
          <div class="list"></div>
          <div class="more"><a href="http://www.chinavanward.com/store/default.aspx" target="_blank">想要了解更多，请进入网上商城</a></div>
        </div>
        <ul style="text-align:center;">
          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>燃气热水器</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/82.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>燃气灶</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/83.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>燃气壁挂炉</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/84.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>新能源供热</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/85.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>消毒碗柜</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/86.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

          <li><div class="tuij">
              <div class="tuij_tit"><div style="float:left; text-indent:1em;"><strong>吸油烟机</strong></div><div style="float:right; width:27px;"><a href="http://www.51hejia.com/articleList/t-41383.jhtml" target="_blank"><img src="http://www.51hejia.com/images/ranqj/bg04.gif" /></a></div></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% result = parse_xml("http://api.51hejia.com/rest/build/xml/87.xml", ["title", "url", "image-url", "description"], 3) %>
                <tr>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[0]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[0]["title"] %>" target="_blank"><img src="<%= result[0]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[0]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[1]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[1]["title"] %>" target="_blank"><img src="<%= result[1]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[1]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                  <td width="1" bgcolor="#dfdede"></td>
                  <td width="152">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" bgcolor="#FFFFFF"><a href="<%= result[2]["url"].to_s.gsub("-thePage-", "-").gsub(".jhtml", "") %>" title="<%= result[2]["title"] %>" target="_blank"><img src="<%= result[2]["image-url"] %>" width="93" height="70" /></a></td>
                      </tr>
                      <tr>
                        <td height="1" bgcolor="#dfdede"></td>
                      </tr>
                      <tr>
                        <td><div class="tuij_text"><%= result[2]["description"].chars[0, 25] %>...</div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div style="clear:both;"></div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="main"></div>
    <%= render_shared_footer %>
    <%= yield :html_body_end  %>
  </body>
</html>
