<script type="text/javascript">
  document.write("<img src='http://api.51hejia.com/rest/analytics?type=a&key="+"<%= @article.ID %>-<%= article_editor_id(@article.EDITPEOPLE, @article.ADDPEOPLE) %>" + "' width='0' height='0' />");
</script>