/* CSS Document */

body{margin:3px 0; font-family:"ו"; font-size:12px; color:#000; line-height:18px;}
html,body { height:100%;} 
a{color:#000;text-decoration:none;}
a:hover {color:#f60; text-decoration:underline}
li {list-style:none;line-height:18px;}
img{border:0;}
p,em,span,form,select,input,option,ol,ul,li,dd,dt,dl,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
h3,h4 {font-size:14px;}
.main {width:960px; margin:0 auto;}
.zlogo{ float:left;}
.znavtion{ float:right;}
.znavtion li{ text-align:right; line-height:30px; color:#6E6E6E;}
.znavtion li a{ color:#6E6E6E;}
.znavtion .bluei{ color:#0159A0;}
.znavtion .bluei a{ color:#0159A0;}

.menu {background: url(http://www.51hejia.com/images/jsheader/menu_bg.gif) no-repeat left top; height:31px; padding-top:6px; font-size:14px; font-weight:bold; width:960px; float:left;}
.menu ul{margin:0;margin-bottom: 1em; /*margin between menu and rest of content*/padding:0;list-style:none;}
.menu li{display:inline; padding:0 18px 0 18px; line-height:31px; float:left; background: url(http://www.51hejia.com/images/baoming/dot01.gif) no-repeat right center;}
.menu a{float:left;color: white;text-decoration:none;letter-spacing: 1px;}
.menu a:hover{ color:#2a488e; text-decoration:none;}
.menu a:visited { color:#fff; text-decoration:none;}
.menu #current a{background: url(http://www.51hejia.com/images/jsheader/menu_on.gif) no-repeat left bottom; width:94px; text-align:center; color:#2a488e;}

#Login {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#000000;
left:50%;
margin-left:-100px;
margin-top:-135px;
position:absolute;
top:50%;
width:220px;
z-index:100;
}
a.Divopop-nonenei {
display:block;
position:absolute;
right:20px;
top:6px;
z-index:9999;
}

.formouter{
    width:727px; float:left; border-bottom:1px solid #d7d7d7;
}
.tijiao{
    width:727px; clear:left; border-bottom:1px solid #d7d7d7;
}
.formleft{
  width:168px; float:left;
  letter-spacing: 2px;
  padding-top: 12px; padding-bottom:9px;
  background-color:#eff8fd;
  text-align:right; padding-right:17px;
}
.formcenter{
    float:left; padding-left:13px; padding-top:9px;
}
.formright{
    float:left;
    letter-spacing: 1px;
    color: #999999; padding-top: 4px;
}
.citypath { font-weight:bold; width:960px; margin:0 auto; background-color:#fff;}
.citypath ul {width:100%; float:left;}
.citypath a {font-weight:normal;}
.citypath li {float:left; line-height:24px; padding-left:14px;}
.citypath span {color:#f00;}