<div id="side">
  <div class="sidebox_2" id="z0" style="display:block;">
    <h3> <span><a href="http://d.51hejia.com/zq/" target="_blank">>>更多</a></span>装修top5</h3>
    <p class="title clearfix">
      <a href="http://d.51hejia.com/zq/户型装修/" class="now" onmouseover="javascript:setFocus2('div','side','z',0);" target="_blank">户型</a>
      <a href="http://d.51hejia.com/zq/房间装修/" onmouseover="javascript:setFocus2('div','side','z',1);" target="_blank">房间</a>
      <a href="http://d.51hejia.com/zq/装修风格/" onmouseover="javascript:setFocus2('div','side','z',2);" target="_blank">风格</a>
      <a href="http://d.51hejia.com/zq/装修预算/" onmouseover="javascript:setFocus2('div','side','z',3);" target="_blank">预算</a>
    </p>
    <ul>
      <% if @key_huxing %>
        <% @key_huxing.keyword_articles.each do |a| %>
          <li><a href="<%= a.url %>" target="_blank" title="<%= a.title %>"><%= truncate_u(a.title, 16) %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="sidebox_2" id="z1" style="display:none;">
    <h3> <span><a href="http://d.51hejia.com/zq/" target="_blank">>>更多</a></span>装修top5</h3>
    <p class="title clearfix">
      <a href="http://d.51hejia.com/zq/户型装修/" onmouseover="javascript:setFocus2('div','side','z',0);" target="_blank">户型</a>
      <a href="http://d.51hejia.com/zq/房间装修/" class="now" onmouseover="javascript:setFocus2('div','side','z',1);" target="_blank">房间</a>
      <a href="http://d.51hejia.com/zq/装修风格/" onmouseover="javascript:setFocus2('div','side','z',2);" target="_blank">风格</a>
      <a href="http://d.51hejia.com/zq/装修预算/" onmouseover="javascript:setFocus2('div','side','z',3);" target="_blank">预算</a>
    </p>
    <ul>
      <% if @key_fangjian %>
        <% @key_fangjian.keyword_articles.each do |a| %>
          <li><a href="<%= a.url %>" target="_blank" title="<%= a.title %>"><%= truncate_u(a.title, 16) %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="sidebox_2" id="z2" style="display:none;">
    <h3> <span><a href="http://d.51hejia.com/zq/" target="_blank">>>更多</a></span>装修top5</h3>
    <p class="title clearfix">
      <a href="http://d.51hejia.com/zq/户型装修/" onmouseover="javascript:setFocus2('div','side','z',0);" target="_blank">户型</a>
      <a href="http://d.51hejia.com/zq/房间装修/" onmouseover="javascript:setFocus2('div','side','z',1);" target="_blank">房间</a>
      <a href="http://d.51hejia.com/zq/装修风格/" class="now" onmouseover="javascript:setFocus2('div','side','z',2);" target="_blank">风格</a>
      <a href="http://d.51hejia.com/zq/装修预算/" onmouseover="javascript:setFocus2('div','side','z',3);" target="_blank">预算</a>
    </p>
    <ul>
      <% if @key_fengge %>
        <% @key_fengge.keyword_articles.each do |a| %>
          <li><a href="<%= a.url %>" target="_blank" title="<%= a.title %>"><%= truncate_u(a.title, 16) %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="sidebox_2" id="z3" style="display:none;">
    <h3> <span><a href="http://d.51hejia.com/zq/" target="_blank">>>更多</a></span>装修top5</h3>
    <p class="title clearfix">
      <a href="http://d.51hejia.com/zq/户型装修/" onmouseover="javascript:setFocus2('div','side','z',0);" target="_blank">户型</a>
      <a href="http://d.51hejia.com/zq/房间装修/" onmouseover="javascript:setFocus2('div','side','z',1);" target="_blank">房间</a>
      <a href="http://d.51hejia.com/zq/装修风格/" onmouseover="javascript:setFocus2('div','side','z',2);" target="_blank">风格</a>
      <a href="http://d.51hejia.com/zq/装修预算/" class="now" onmouseover="javascript:setFocus2('div','side','z',3);" target="_blank">预算</a>
    </p>
    <ul>
      <% HejiaArticle.articles(5, 42229).each do |a|  %>
        <li><a href="<%= article_link(a.ID, a.CREATETIME, a.FIRSTCATEGORY) %>" target="_blank" title="<%= a.TITLE %>"><%= truncate_u(a.TITLE, 16) %></a></li>
      <% end %>
    </ul>
  </div>
</div>